
    a:link {color:#ffffff;}
    a:visited {color:#09c071;}
    a:active {color:#69e7c8;}
    a:hover {color:#08b403;}
  
    body 
    {
      background: url("greenhd.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
     }
  
     h1
     {
      color: rgb(56, 139, 1)
     }

     h1 span
     { 
      background-color:  rgba(0, 0, 0, 0.986)
     }


     h2
     {
      color: rgb(255, 255, 255)
     }
     h2 span
     { 
      background-color:  rgba(0, 0, 0, 0.986)
     }



     table#t01 {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #2edb03fd;
    }

    tr:nth-child(odd) {
      background-color: #178b27;
    }
    
    caption{
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(255, 255, 255)

    }

    li{
      font-family: Arial, Helvetica, sans-serif;
    }