body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    font-size: 1.2 rem;
    line-height: 1.4em;
    margin: 0%;

}

p{
    margin-bottom: 1.6em;
}

h1{
    font-size:2rem;
    line-height: 1.3em;
}

.container{
    width: 85%;
    max-width: 85%;
    margin: 0 auto;
    overflow: hidden;
}

.header{
    background-color: #333;
    color: white;
    padding: 2rem 0;
    
    top: 0;
    right: 0;
    left: 0;

}

.header a {
    color: white;
    text-decoration: none; 
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
    border-radius: 5px;

}

.navigation ul li a:hover {
    background: #817878;
}

.main{
    padding-top: 10rem;
}

.footer{
    background: #dad8d8;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}

span{
    font-weight: bold;
}

.logofime{
    max-width: 60px;
    height:auto;
    margin: 0%
}


#contenedorbasura{
    float: left;
    background-color: rgb(83, 138, 120);
    width: 870px;
}

#contenedorreciclable{
    float: left;
    background-color: burlywood;
    width: 870px;
}

.contenedores{
    max-width: 250px;
    height:auto;
    margin: 0%
    
}

.cuadrocont {
    max-width: 150px;
    height:auto;
    margin: 0%;
    float: right;
    

}

.cuadrocontenedor{
    float: right;
}


#elementos {
    
    background-color: rgb(255, 255, 255);
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.reciclabletrue{
    max-width: 70px;
    height:auto;
    margin: 0%;


}

.reciclablefalse{
    max-width: 70px;
    height:auto;
    margin: 0%

}

